.register-fields li ,
.mailbox-fields li {
  list-style-type: none;
}

.register-fields li .label,
.mailbox-fields li .label {
  line-height: 50px;
  color: black;
  font-size: 17px;
  max-width: none !important;
  width: 250px;
  display: inline-block !important;
  text-align: left;
}

.register-fields li input,
.mailbox-fields li input {
  height: 35px;
  width: 250px;
}

.register-fields .input_action input,
.mailbox-fields .input_action input {
  margin: 10px 0px 20px 250px;
  width: 125px !important;
  color: white;
  background-color: #428BCA;
  border:none;
  border-radius: 3px;
}

abbr {
  color: red;
  padding-left: 4px;
}

.button-wrapper {
  margin-bottom: 30px;
}

.table thead {
  background-color: #eee;
}

.update-button, .edit-button, .delete-button {
  display: inline-block;
  margin-right: 5px;
}

.center {
  text-align: center;
}

.update-link, .edit-link, .delete-link {
  margin: 0px 5px;
}

.inline-errors {
  margin-left: 250px;
  margin-top: -10px;
  color: red;
}

#error_explanation {
  border: 1px solid red;
  padding: 10px 0px 10px 20px;
}

#popup-update {
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 25px 5px #999999;
  color: #111111;
  display: none;
  min-width: 450px;
  padding: 25px;
  left: 40% !important;
}

.flash-error {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.flash-notice {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color:#468847;
  background-color:#dff0d8;
  border-color:#d6e9c6;
}


#password-form label,
#password-form input {
  margin-right: 10px;
}

.email-wrapper {
  font-size: 17px;
}

.email-wrapper .from-wrapper,
.email-wrapper .to-wrapper,
.email-wrapper .subject-wrapper {
  margin-bottom: 10px;
}

.email-wrapper .from,
.email-wrapper .to,
.email-wrapper .subject {
  margin-right: 20px;
}

.text-wrapper {
  margin-bottom: 20px;
}

.letter-body {
  padding: 10px 0px;
}

.letter-text {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10px;
  padding: 25px;
}
